<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>
<p>
  <strong>Topics:</strong>
  <% @blog.topics.each do |topic| %>
    <span class="badge bg-secondary"><%= topic.title %></span>
  <% end %>
</p>
<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>
<p>
  <strong>Status:</strong>
  <%= @blog.status %>
</p>
<%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %> |
<%= link_to 'Back', blogs_path %>
<!-- start of comment form -->
<%= render 'comments/comment_form' %>
<div id="comments-container">
  <%= render @blog.comments.order(id: :desc) %>
</div>
