<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag portfolio_img(@portfolio_items.main_image.url, 'main'), class: 'w-100' %>
    </div>
    <div class="col-md-5">
      <h1> <%= @portfolio_items.title %> </h1>
      <hr>
      <em><%= @portfolio_items.subtitle %></em>
      <p><%= @portfolio_items.body %></p>
      <hr>
      <h2>Technologies Used: </h2>
      <% @portfolio_items.technologies.each do |tech| %>
        <p> <%= tech.name %> </p>
      <% end %>
      <% if logged_in?(:site_admin) %>
        <div class="row">
          <div class="col-md-4 d-grid">
            <%= link_to 'Edit', edit_portfolio_path, class: 'btn btn-warning' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
