<header class="mb-auto">
  <div>
    <%= link_to root_path do %>
      <h4 class="float-md-start mb-0 text-white">
        <strong>Lucas Santos</strong>
      </h4>
    <% end %>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <%= link_to 'Home', root_path, class: 'nav-link' %>
      <%= link_to 'About', about_me_path, class: 'nav-link' %>
      <%= link_to 'Contact', contact_path, class: 'nav-link' %>
      <%= link_to 'Blog', blogs_path, class: 'nav-link' %>
      <%= link_to 'Portfolio', portfolios_path, class: 'nav-link' %>
      <%= login_helper('nav-link') %>
    </nav>
  </div>
  <div class="social-links d-flex flex-column">
    <%= link_to 'https://google.com', target: '_blank' do %>
      <i class="fab fa-github text-white"></i>
    <% end %>
    <%= link_to 'https://google.com', target: '_blank' do %>
      <i class="fab fa-instagram text-danger"></i>
    <% end %>
    <%= link_to 'https://google.com', target: '_blank' do %>
      <i class="fab fa-facebook"></i>
    <% end %>
  </div>
</header>
