<header class="mb-auto">
  <div>
    <h3 class="float-md-start mb-0">Lucas Dev</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <%= link_to 'Home', root_path, class: 'nav-link' %>
      <%= link_to 'About', about_me_path, class: 'nav-link' %>
      <%= link_to 'Contact', contact_path, class: 'nav-link' %>
      <%= link_to 'Blog', blogs_path, class: 'nav-link' %>
      <%= link_to 'Portfolio', portfolios_path, class: 'nav-link' %>
      <%= login_helper('nav-link') %>
    </nav>
  </div>
  <div class="social-links d-flex flex-column">
    <%= link_to '<i class="fa fa-github text-white"></i>'.html_safe, 'https://google.com', target: '_blank' %>
    <%= link_to '<i class="fa fa-instagram text-danger"></i>'.html_safe, 'https://google.com', target: '_blank' %>
    <%= link_to '<i class="fa fa-facebook"></i>'.html_safe, 'https://google.com', target: '_blank' %>
  </div>
</header>
