<header class='bg-dark'>
  <div>
    <div class="collapse" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Explore</h4>
            <ul class="list-unstyled">
              <%= nav_helper('text-white', '<li>', '</li>') %>
              <% if current_user.is_a?(GuestUser) %>
                <li><%= link_to 'Register', new_user_registration_path, class: 'text-white' %></li>
                <li><%= link_to 'Login', new_user_session_path, class: 'text-white' %></li>
              <% else %>
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'text-white' %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <%= link_to 'Lucas Santos', root_path, class: 'fw-bold navbar-brand d-flex align-items-center' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </div>
</header>
<div class='portfolio-social-links'>
  <%= social_links('dark') %>
</div>
