<!DOCTYPE html>
<html >
  <head>
    <title><%= @page_title %> </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="<%= @seo_keywords %>" />
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Slab" rel="stylesheet">
    <%=favicon_link_tag 'favicon' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'shared/portfolio_nav' %>
    <%= toastr_flash('Mr.Portfolio') %>
    <%= source_helper %>
    <main>
      <%= yield %>
    </main>
    <%= render 'shared/portfolio_footer' %>
  </body>
</html>
